* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: arial;
}

ul {
    list-style: none;
}

a,p {
    text-decoration: none;
    color: #ffffff;
}

img {
    max-width: 100%;
}