@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --acc--color: rgb(248, 33, 33);
}

#body {
    background-color: rgb(7, 8, 14);
    transition: all .5s ease;


}

/* Aqui come o Header */
.app a:hover {
    background-color: var(--acc--color) !important;
    color: white !important;
}
.app{
    border: 1px solid var(--acc--color);
    cursor: pointer;
    width: 200px;
    transition: all .3s ease;
    padding: 10px 5px 10px 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: var(--acc--color);
    color: white;
    box-shadow: none;
    font-size: 15px;
    font-weight: bold;
}
button {
    border: 1px solid var(--acc--color);
    cursor: pointer;
    width: 200px;
    transition: all .3s ease;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: white;
    color: var(--acc--color);
    box-shadow: none;
}

button:hover {
    background-color: var(--acc--color);
    color: white;
}

#header {
    height: 150px;
    background-color: #07080e;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    max-width: 100vw;
    z-index: 2;
}


.section-body {
    height: auto;
    width: 100%;
}


.container {
    height: 100%;
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease
}

.logo img {
    width: 150px;
    padding-top: 50px;
}
.menu{
    padding-top: 50px ;
}
.menu a {
    margin-right: 15px;
    padding: 5px;
    transition: all .3s ease;
    border-radius: 3px;
    cursor: pointer;

}

.menu a:hover {
    background-color: white;
    color: rgb(7, 8, 14);
    border-radius: 3px;
}

/* Aqui termina o Header */

/* Aqui começa a pagina home*/

.home {
    display: flex;
    justify-content: center;
}

#yruama {
    color: var(--acc--color);
    font-family: Bebas Neue;
    font-size: 60px;
    font-weight: 400;
    transition: all .5s ease
}

.home-title-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all .5s ease
}

.home-title h1 {
    font-family: Bebas Neue;
    font-weight: 400;
    font-size: 90px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    transition: all .5s ease
}

.home-img {
    display: flex;
    justify-content: flex-end;
}

.home-img img {
    width: 600px;
}

.home .button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 100px;

}

.home-parte-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.home-parte-2-left-title {
    color: var(--acc--color);
    font-weight: bold;
}

.home-parte-2-left-txt-1,
.home-parte-2-left-txt-2,
.home-parte-2-left-txt-3 {
    margin-top: 15px;
}

.home-parte-2-left h1 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

.home-img-right img {
    width: 400px;
    filter: drop-shadow(0px 0px 25px rgba(248, 33, 33, 0.271));
}

/* Aqui termina a pagina home*/
/* Aqui começa a pagina planos*/

.planos {
    height: auto;
    /* background-color: #F4F4F4; */
    margin-bottom: 40px;
    margin-top: 100px;
}

.planos h1,
.planos h4,
.planos h5 {
    text-align: center;
    padding-top: 20px;
}

.planos h1 {
    color: var(--acc--color);
    text-transform: uppercase;
    font-size: 50px;


}

.planos h4 {
    color: #ffffff;
    font-size: 20px;
}

.planos h5 {
    color: var(--acc--color);
    padding-bottom: 20px;
    font-size: 20px;
}

.planos-box {
    display: flex;
    justify-content: center;
}

.planos-box .container {
    justify-content: space-around;
    background-color: #F4F4F4;
    border-radius: 10px;
}

.box:first-child {
    border-top-left-radius: 10px;
}

.box:last-child {
    border-top-right-radius: 10px;
}

.box {
    /* background-color: #F4F4F4; */
    width: 355px;
    height: auto;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 40px; */
}

/* .box:hover {
    border: 2px solid var(--acc--color);
} */

.box-titulo h3 {
    text-align: center;
    color: var(--acc--color);

}

.box-titulo h4 {
    text-align: center;
    font-size: 25px;
}

.box-titulo img {
    width: 70px;
}

.box-titulo {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-info {
    flex: 1;
    /* border-top: 2px solid var(--acc--color); */
    text-align: center;
    border-right: 1px solid #f8212152;

}

.box-info p {
    color: #07080e;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 35px;
    font-size: 15px;


}
.box-info p .sadulto{
    text-decoration: line-through;
}
.box-info p .adulto{
    background-color: var(--acc--color);
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-weight: bold;
}

.box .button {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Aqui termina a pagina planos*/
/* Aqui começa a pagina Duvidas*/

.duvidas {
    display: flex;
    justify-content: center;
}

.duvidas .container {
    justify-content: center;
}

.duvidas-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.duvidas-body p {
    font-size: 15px;
}

.duvidas-txt {
    width: 450px;
    text-align: left;
    padding: 10px;
    display: none;
    flex-direction: column;

}

.duvidas-txt p {
    font-size: 13px;
    color: #ffffffcc;
}

.duvidas-txt .txt--p {
    text-align: center;
}

.duvidas-txt .txt--p span {
    padding-top: 10px;
    color: var(--acc--color);
}

.txt04 strong {
    color: var(--acc--color);
}

.duvidas-body h1 {
    font-size: 45px;
    color: white;
    margin-top: 10px;
    padding-bottom: 20px;
}

.duvidas-box {
    width: 450px;
    text-align: left;
    color: white;
    padding: 10px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .3s ease;

}

.modelo {
    display: none;
}

.duvidas-box img {
    cursor: pointer;

}

/* Aqui termina a pagina duvidas*/
/* Aqui começa a pagina fedback*/
.fedback {
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;
}

.fedback .container {
    justify-content: center;
}

.fedback-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fedback-titulo {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.fedback-titulo h1 {
    font-size: 30px;
}

.fedback-titulo h3 {
    font-size: 15px;

}

.fedback-info {
    text-align: center;
}

.fedback-info img {
    border-radius: 50%;
    width: 150px;
    padding-bottom: 15px;

}

.cliente-name {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.cliente-name::after {
    content: "";
    background-image: url(../images/avaliacao.png);
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 20px;
    display: block;
    margin: auto;
    margin-bottom: 12px;
}

.fedback-body-slide {
    height: auto;
    width: 600px;
    overflow: hidden;
    padding-bottom: 20px;

}

.fedback-slide {
    width: 1800px;
    display: flex;
    margin-left: 0px;
    transition: all .5s ease;
}

.fedback-info #citar {
    width: 45px;
    padding-bottom: 15px;
}

.fedback-info {
    width: 600px;
}

.fedback-info p {
    color: #545454;
    width: 550px;
}

.feed-seta img {
    width: 25px;
}

.feed-seta {
    display: flex;
    align-items: center;
    padding-top: 12%;
    cursor: pointer;

}

/* Aqui Termina a pagina fedback*/


#rodape {
    color: #F4F4F4;
    text-align: center;

}

#rodape #tel {
    padding-top: 15px;
}

#rodape h3 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: lighter;
    padding-top: 2px;

}

#rodape .autor {
    font-size: 12px;
    margin-top: 15px;
    border-top: 1px solid #f4f4f45d;
    padding-top: 5px;
    padding-bottom: 5px;
}

.zap img {
    width: 40px;
}

.zap {
    width: 50px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    transition: all .5s ease;
    cursor: pointer;
    border-radius: 5px;
    z-index: 999;


}

.zap:hover {
    margin-left: 15px;

}

.page-top {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: -50px;
    right: 0;
    border-radius: 50%;
    opacity: 100%;
    z-index: 9000;
    transition: all .5s ease;
}

.page-top img {
    width: 30px;
    transition: all .5s ease;
    cursor: pointer;
}

.page-top img:hover {
    transform: rotate(360deg);
}





/* Animação Scroll */

[data-anime] {
    opacity: 0;
    transition: .3s;
}

[data-anime='left'] {
    transform: translate3d(-50px, 0, 0);
}

[data-anime='right'] {
    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Aqui começa o menu mobile*/

#menumobile {
    background-color: #fffffffb;
    width: 0px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    transition: all .5s ease;
    display: none;

}

#menu-hamburguer {
    width: auto;
    height: auto;
    cursor: pointer;
    display: none;
    flex-direction: column;
    z-index: 999;

}

#menu-hamburguer .line {
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: #ffffff;


}

#menu-hamburguer--interno {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    cursor: pointer;
}

#menu-hamburguer--interno .line {
    width: 20px;
    height: 2px;
    margin-top: 5px;
    background-color: #07080e;
}

.menumob {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

}

.menumob a {
    margin-top: 20px;
    color: #07080e;
    font-weight: bold;
    cursor: pointer;

}


@media (max-width:770px) {
    .home-title h1 {
        font-weight: 400;
        font-size: 60px;
        line-height: 55px;
        padding-right: 25px;
    }

    #yruama {
        color: var(--acc--color);
        font-size: 60px;
        font-weight: 400;

    }

    .home-title-body .button {
        padding-right: 25px;
        margin-top: 10px;

    }

    .home-parte-2-left {
        padding-left: 25px;
    }

}

@media (max-width:709px) {
    .home-title h1 {
        font-weight: 400;
        font-size: 45px;
        line-height: 50px;
        padding-right: 25px;
    }

    #yruama {
        color: var(--acc--color);
        font-size: 45px;
        font-weight: 400;

    }

    .home-title-body .button {
        padding-right: 25px;
        margin-top: 10px;

    }

    .home-parte-2-left {
        padding-left: 25px;
    }

    .home-img img {
        width: 300px;
    }

    .planos-box {
        flex-wrap: wrap;
    }

    .planos-box .container {
        width: 400px;
    }

    .box {
        margin-left: 10px;
        margin-right: 10px;
    }
}


@media (max-width:599px) {

    
    .home-title h1 {
        font-weight: 400;
        font-size: 45px;
        line-height: 50px;
        padding-right: 25px;
    }

    #yruama {
        color: var(--acc--color);
        font-size: 45px;
        font-weight: 400;

    }

    .home-title-body .button {
        padding-right: 25px;
        margin-top: 10px;

    }

    .home-parte-2-left {
        padding-left: 25px;
    }

    .home-parte-2-left h1 {
        font-size: 30px;
    }

    .home-parte-2-left-txt-1,
    .home-parte-2-left-txt-2,
    .home-parte-2-left-txt-3 h1 {
        font-size: 15px;
    }

    .home-parte-2-left-txt-1,
    .home-parte-2-left-txt-2,
    .home-parte-2-left-txt-3 p {
        font-size: 12px;
    }

    .home-img img {
        width: 300px;
    }

    .planos-box {
        flex-wrap: wrap;
    }

    .planos-box .container {
        width: 400px;
    }

    .box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .fedback-info p {
        width: 350px;
        margin: auto;
    }
}

@media (max-width:513px) {

  
    .home-title h1 {
        font-weight: 400;
        font-size: 45px;
        line-height: 50px;
        padding-right: 25px;
    }

    #yruama {
        color: var(--acc--color);
        font-size: 45px;
        font-weight: 400;

    }

    .home-title-body .button {
        padding-right: 25px;
        margin-top: 10px;

    }

    .home-parte-2-left {
        padding-left: 25px;
    }

    .home-parte-2-left-txt-1,
    .home-parte-2-left-txt-2,
    .home-parte-2-left-txt-3 h1 {
        font-size: 15px;
    }

    .home-parte-2-left-txt-1,
    .home-parte-2-left-txt-2,
    .home-parte-2-left-txt-3 p {
        font-size: 12px;
    }

    .home-img img {
        width: 300px;
    }

    .planos-box {
        flex-wrap: wrap;
    }

    .planos-box .container {
        flex-wrap: wrap;


    }

    .box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .fedback-info p {
        width: 350px;
        margin: auto;
    }
}


@media (max-width:425px) {
   #menumobile{
        display:block;
    }

   
    .menu {
        display: none;

    }

    #menu-hamburguer {
        display: flex;
        padding-right: 20px;
    }

    .duvidas-txt {
        width: 380px;
    }

    .duvidas-txt p {
        font-size: 13px;
    }
    .home .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-title h1 {
        font-weight: 400;
        font-size: 55px;
        line-height:50px;
        text-align: center;
        padding: 0;
    }

    #yruama {
        color: var(--acc--color);
        font-size: 30px;
        font-weight: 400;

    }

    .home-title-body .button {
        margin: auto;
        margin-top: 10px;
        padding: 0;


    }

    .home-title-body .button button {
        padding: 10px;
        width: 170px;
    }

    .home-parte-2-left {
        padding-left: 25px;
    }

    .home-parte-2-left h1 {
        font-size: 20px;
    }

    .home-parte-2-left-txt-1,
    .home-parte-2-left-txt-2,
    .home-parte-2-left-txt-3 span {
        font-size: 14px;
    }

    .home-parte-2-left-txt-1,
    .home-parte-2-left-txt-2,
    .home-parte-2-left-txt-3 p {
        font-size: 9px;
    }

    .home-img img {
        width: 400px;
    }

    .planos-box {
        flex-wrap: wrap;
    }

    .planos-box .container {
        flex-wrap: wrap;


    }

    .box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .fedback-info p {
        width: 350px;
        margin: auto;
    }

    .duvidas {
        padding-left: 50px;
        padding-right: 50px;
    }

    .duvidas h1 {
        font-size: 20px;
    }

    .duvidas-box {
        width: 380px;
    }

    .zap {
        width: 25px;
    }

}

@media (max-width:360px) {
    #menumobile{
        display:block;
    }
   
    .home .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .home-title h1 {
        font-weight: 400;
        font-size: 55px;
        line-height:50px;
        text-align: center;
        padding: 0;
    }

    #yruama {
        color: var(--acc--color);
        font-size: 30px;
        font-weight: 400;

    }

    .home-title-body .button {
        margin: auto;
        margin-top: 10px;
        padding: 0;


    }

    .home-title-body .button button {
        padding: 10px;
        width: 170px;
    }

    .home-parte-2-left {
        padding-left: 25px;
    }

    .home-parte-2-left h1 {
        font-size: 20px;
    }

    .home-parte-2-left-txt-1,
    .home-parte-2-left-txt-2,
    .home-parte-2-left-txt-3 span {
        font-size: 14px;
    }

    .home-parte-2-left-txt-1,
    .home-parte-2-left-txt-2,
    .home-parte-2-left-txt-3 p {
        font-size: 9px;
    }

    .home-parte-2 .container {
        flex-direction: column;
    }

    .home-img-right img {
        width: 200px;
        padding-top: 50px;
        display: none;
    }

    .home-img img {
        width: 400px;
    }

    .planos-box {
        flex-wrap: wrap;
    }

    .planos-box .container {
        flex-wrap: wrap;


    }

    .planos {
        padding-left: 10px;
        padding-right: 10px;
    }

    .box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .fedback-info p {
        width: 300px;
        margin: auto;
    }

    .duvidas {
        padding-left: 50px;
        padding-right: 50px;
    }

    .duvidas h1 {
        font-size: 20px;
    }

    .duvidas-box {
        width: 300px;
    }

    .duvidas-txt {
        width: 300px;
    }

    .duvidas-txt p {
        font-size: 13px;
    }

    .zap {
        width: 25px;
    }

}